%p #{I18n.l model.start_at} 〜 #{I18n.l model.end_at}

%table
  %tr
    %th 発言数
    %th スタンプ
    %th 写真
    %th 草www
    - model.pickup_words.each do |word|
      %th= word

  %tr
    %td= model.messages_count
    %td= model.stamps_count
    %td= model.photos_count
    %td= model.kusas_count
    - model.pickup_words.each do |word|
      %td= model.count_per_pickup_word[word]

%details
  %summary 時間帯別
  %table.per-h
    - 24.times do |h|
      %tr
        %th #{h}時
        %td= model.messages_count_per_hour[h]
        %td.ratio
          .bar{style: "width: #{model.active_rates[h] * 2}px"} &nbsp;
