%p #{I18n.l @summary.start_at} 〜 #{I18n.l @summary.end_at}

%h2 合計

= render 'summary', model: @summary

%hr

%h2 個人別

- @summary.users.order(messages_count: :desc).each do |user|
  %h3 #{user.name} さん
  = render 'summary', model: user
